[Unit]
Description = Spark historyserver
After = syslog.target network.target remote-fs.target

[Service]
User = <%= node.hadoop_spark.user %>

PIDFile = /tmp/spark-history-server.pid
ExecStart = <%= node.hadoop_spark.home %>/sbin/start-history-server.sh
ExecStop = <%= node.hadoop_spark.home %>/sbin/stop-history-server.sh
LimitNOFILE = 65000
LimitNPROC = 10000

Type = forking

[Install]
WantedBy = multi-user.target
